body{
    margin: 0 ;

    
}

h1{ 
    background-color: #281d1d ;
    box-shadow: 0 4px 2px -2px gray;
    color: whitesmoke;
    font-family: 'Jost', sans-serif;
    font-size: 55px;
    font-weight: bolder;
    margin: 0;
    padding: 20px;
    padding-bottom:5px;
    padding-left: 60px;
    padding-top: 40px;
    text-align: left;

}

.responsive{
    height: auto;
    width: 100%;
}

article{ 
    padding: 30px;
    padding-left: 60px;
    padding-right: 60px;
}

h2{
    font-family: 'Jost', sans-serif;
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    
}

h3{
    color: darkorange;
    font-family: 'Jost', sans-serif;
    font-size: 30px;
    font-weight: 400;
    padding-left: 20px;

}
h3 ~ p {
    padding-left: 50px;
}
p{
    font-family: 'Jost', sans-serif;
    font-size: 23px;
    font-weight: 300;
    padding-left: 20px;
}

body{
    margin: 0;
    padding-bottom: 300px;
    
}
.highlight {
    color: rgb(0, 0, 0);
    font-style: italic;
    font-weight: 400;
    padding-left: 30px;
}
