/* nav */

@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

@media (min-width: 992px) {
  .navbar-brand { display: inline-block; }
  .navbar-brand-short { display: none; }
}
@media (max-width: 992px) {
  .navbar-brand-short { display: inline-block; }
  .navbar-brand { display: none; }
}
.navbar-brand{
    font-family: 'Chivo', sans-serif !important;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 10px;
    text-shadow: 2px 2px rgba(199, 184, 184, 0.35);
}

.navbar-brand-short{
  font-family: 'Chivo', sans-serif !important;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none ;
  color: aliceblue;
  text-shadow: 2px 2px rgba(199, 184, 184, 0.35);
}

.b{
  color: aliceblue;
}

.w{
  color: #F0E68C;
}

.nav-item {
  font-family: 'Chivo', sans-serif;
  font-weight: 100;
  padding: 3px;
  padding-right: 10px;
}

.nav-link:hover {
  background-color:hsla(79, 6%, 49%, 0.3);
}
nav{
  transition: 200ms ease-in-out background-color,
              100ms ease-in-out bos-shadow;
  padding-top: 20px !important;
  padding-bottom: 20px !important;  
}


/* main gallery */
.quote_container{
    padding-bottom:2000px;   
}

.img{
    width: 200px;
}
img{
    max-width: 100%;
}
/* .quote{
    padding-top: 200px;
    padding-left: 5em;
    padding-right: 5em;
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 25px ;

} */
/* footer */
.follow{
    font-family: 'Chivo', sans-serif;
    letter-spacing: 3px;
    font-weight: 100;
    font-size: 20px;
  }
  
  .btn-floating{
    opacity: 0.8;
    border-radius: 25px;
  
  }
  
  .btn-floating:hover{
    opacity: 1;
  }

  #btn-back-to-top {
    margin-bottom: 30px;
    background-color: rgb(86, 82, 82);
    color: aliceblue !important;
  }