
@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

@media (min-width: 992px) {
  .navbar-brand { display: inline-block; }
  .navbar-brand-short { display: none; }
}
@media (max-width: 992px) {
  .navbar-brand-short { display: inline-block; }
  .navbar-brand { display: none; }
}
#intro {
    background-image: url("./img/wallpaper.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }


.navbar-brand{
    font-family: 'Chivo', sans-serif !important;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 10px;
}

.navbar-brand-short{
  font-family: 'Chivo', sans-serif !important;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none ;
  color: aliceblue;
}

.b{
  color: aliceblue;
}

.w{
  color: #F0E68C;
}

.nav-item {
  font-family: 'Chivo', sans-serif;
  font-weight: 100;
  padding: 3px;
  padding-right: 10px;
}

.nav-link:hover {
  background-color:hsla(79, 6%, 49%, 0.3);
}
nav{
  transition: 200ms ease-in-out background-color,
              100ms ease-in-out bos-shadow;
  padding-top: 20px !important;
  padding-bottom: 20px !important;  
}


.cover{
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  font-size: 10vw;
  color: aliceblue;
}

.caption{
  color: aliceblue;
  font-family: 'Chivo', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  padding-top: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 10px 0 20px;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
}
.caption span{
  border-top: 1px solid hsl(208, 100%, 97%, 0.25);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: .5em;
}
.btn:hover{
  color: aliceblue;
}
.bren:hover{
  color: aliceblue;
}
.work {
  color: #F0E68C  ;

}

.gallery{
  padding-top: 150px;
  padding-bottom:100px;
  
}

.gallery-txt{
  align-self: center;
}
.gallery-txt h2{
  font-family: 'Tangerine', cursive;
  font-size: 7vw ;
  text-align: center;
  letter-spacing: 5px;

}

.gallery-txt a{
  padding:15px;
  color: aliceblue;
  background-color: rgb(98, 123, 118, .2);
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
}

.gallery-txt div{
  text-align: center;
  padding-top: 20px;
}

.about-me{
  padding-top: 150px;
  padding-bottom:100px;
  justify-content: center;
  align-items: center;
}
.about-me-left{
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  
}

.bren-photo{
  width: 200px;
  border-radius: 100px;
}

.about-me-right h2{
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
}

.follow{
  font-family: 'Advent Pro', sans-serif;
}