
@media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

@media (min-width: 992px) {
  .navbar-brand { display: inline-block; }
  .navbar-brand-short { display: none; }
}
@media (max-width: 992px) {
  .navbar-brand-short { display: inline-block; }
  .navbar-brand { display: none; }
}

.navbar-brand{
    font-family: 'Chivo', sans-serif !important;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 5px;
    padding-top: 10px;
    text-shadow: 2px 2px rgba(199, 184, 184, 0.35);
}

.navbar-brand-short{
  font-family: 'Chivo', sans-serif !important;
  font-size: 30px;
  font-weight: 100;
  text-decoration: none ;
  color: aliceblue;
  text-shadow: 2px 2px rgba(199, 184, 184, 0.35);
}

.b{
  color: aliceblue;
}

.w{
  color: #F0E68C;
}

.nav-item {
  font-family: 'Chivo', sans-serif;
  font-weight: 100;
  padding: 3px;
  padding-right: 10px;
}

.nav-link:hover {
  background-color:hsla(79, 6%, 49%, 0.3);
}
nav{
  transition: 200ms ease-in-out background-color,
              100ms ease-in-out bos-shadow;
  padding-top: 20px !important;
  padding-bottom: 20px !important;  
}

/* 
intro */
#intro {
  background-image: url("./img/wallpaper.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.cover{
  font-family: 'Advent Pro', sans-serif;
  font-weight: 100;
  font-size: 10vw;
  color: aliceblue;
}

.caption{
  color: aliceblue;
  font-family: 'Chivo', sans-serif;
  font-size: 2vw;
  font-weight: 100;
  padding-top: 5px;
  padding-left: 1vw;
  padding-right: 1vw;
  margin: 10px 0 20px;
  letter-spacing: 0.1em;
  word-spacing: 0.5em;
}
.caption span{
  border-top: 1px solid hsl(208, 100%, 97%, 0.25);
  padding-left: 4em;
  padding-right: 4em;
  padding-top: .5em;
}
.btn:hover{
  color: aliceblue;
}
.bren:hover{
  color: aliceblue;
}
.work {
  color: #F0E68C  ;

}

.gallery{
  padding-top: 200px;
  padding-bottom:125px;
 
  
}

.gallery-txt{
  align-self: center;
  

}
.gallery-txt h2{
  font-family: 'Tangerine', cursive;
  font-size: 7vw ;
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 2px 2px rgba(199, 184, 184, 0.35);
  

}

.gallery-txt a{
  padding:15px;
  color: aliceblue;
  background-color: rgba(70, 169, 61, 0.6);
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  box-shadow: 5px 10px;
}

.gallery-txt a:hover{
  background-color:hsla(79, 6%, 49%, 0.9);
}

.gallery-txt div{
  text-align: center;
  padding-top: 20px;
}



/* about */
.about-me{
  margin-top: 160px;
  margin-bottom: 100px;
  justify-content: center;
  align-items: center;
  background-color: rgba(235, 253, 253, 0.1);
  border-radius: 10px;
}
.about-bg{
  padding-bottom: 100px;
  padding-top: 30px;
  position: relative;
  isolation: isolate;
  background-color: black;
}

.about-bg::after {
  content: '';
  position: absolute;
  inset: 0;
  background-image: url(./img/car.JPG);
  background-size: cover;
  z-index: -1;
  opacity: 0.3;
}

.about-me-left{
  padding-right: 100px;
  padding-left: 100px;
  padding-bottom: 50px;
  padding-top: 50px;
  
}

.bren-photo{
  width: 200px;
  border-radius: 100px;
  opacity: 0.9;
}

.bren-photo:hover{
  opacity: 1;
}


.about-me-right{
  padding:20px;
  padding-top: 70px;

}
.about-me-right h2{
  font-family: 'Advent Pro', sans-serif;
  font-size: 60px;
  text-align: center;
  color: hsl(208, 100%, 97%, 0.95);

}

.about-me-right p{
  color: hsl(208, 100%, 97%, 0.95);
}


/* footer */
.follow{
  font-family: 'Chivo', sans-serif;
  letter-spacing: 3px;
  font-weight: 100;
  font-size: 20px;
}

.btn-floating{
  opacity: 0.8;
  border-radius: 25px;

}

.btn-floating:hover{
  opacity: 1;
}
